@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
.container {
    height: 90vh;
    padding-left: 10%;
    padding-right: 10%;
}
.wrapper {
    display: flex;
    justify-content: space-between;
}
.problem_section {
    width: 100%;
    height: auto;
    padding: 1%;
}
.title_div {
    width: 60%;
}
.status {
    width: 20%;
}
.difficulty {
    width: 15%;
}
.problem_section_header {
    width: 100%;
    margin: 1%;
    color: white;
    font-family: Poppins;
    font-weight: bold;
    font-size: 1.1vw;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sidebar_container {
    width: 40%;
    padding-top: 4.3%;
    padding-bottom: 4.3%;
    display: flex;
    flex-direction: column;
    grid-gap: 4rem;
}
.add_btn {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 700px) {
    .container {
        padding-left: 5% !important;
        padding-right: 5% !important;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 5%;
    }
    .sidebar_container {
        width: 100%;
        padding-top: 4%;
        padding-bottom: 4%;
        display: flex;
        flex-direction: column;
        grid-gap: 5rem;
    }
    .problem_section_header {
        width: 90%;
        margin: 1%;
        color: white;
        font-family: Poppins;
        font-weight: bold;
        font-size: 13px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
