.card_container {
    height: auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: #2e2f31;
    padding: 1%;
    margin-bottom: 2%;
}

.card_items {
    height: auto;
    display: flex;
    align-items: center;
}

.contest_link {
    width: 40%;
    font-weight: 500;
    font-size: 18px;
    align-items: center;
    letter-spacing: 0.1em;
}

.starting_time {
    width: 20%;
    text-align: center;
    color: white;
}

.duration {
    width: 20%;
    text-align: center;
    color: white;
}

.deleteBtn {
    width: 10%;
}

.time_left {
    width: 20%;
    text-align: center;
    color: white;
}

.contest_icon {
    height: 20px;
    width: 30px;
}

@media (max-width: 930px) {
    .card_items {
        justify-content: space-evenly;
    }
    .contest_link {
        width: 35%;
    }
    .starting_time {
        width: 25%;
    }
    .duration {
        width: 20%;
    }
    .time_left {
        width: 20%;
    }
}
