.wrapper {
    padding-left: 15%;
    padding-right: 15%;
    height: auto;
}

.container {
    height: auto;
    padding-bottom: 1%;
}

.title_bar {
    color: white;
    display: flex;
    padding-bottom: 1%;
    font-weight: bold;
    text-align: center;
    font-size: 1.1vw;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.heading {
    display: flex;
    justify-content: center;
    font-family: "Ropa Sans", sans-serif;
    letter-spacing: 0.1em;
}

.card_section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add_btn {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 930px) {
    .wrapper {
        padding-left: 5%;
        padding-right: 5%;
    }
    .title_bar {
        display: none;
    }
}
