.container {
    padding-left: 5%;
    padding-right: 5%;
}
.header_div {
    display: flex;
    justify-content: center;
}
.header_style {
    font-family: 'Inter', sans-serif;
    color: white;
    text-decoration: underline;
    text-underline-position: under;
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: column;
    margin: 20px;
    color: #959595;
    text-align: center;
    font-size: small;
}

.btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_style {
    margin-left: 1em !important;
    margin-right: 1em !important;
}

@media (max-width: 700px) {
    .btn_container {
        flex-direction: column;
    }
    .btn_style {
        margin: 0.5em !important;
    }
}
