@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
body {
    background-color: #18181b;
    overflow-anchor: none !important;
    overflow: auto !important;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Poppins", "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

a {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #aaaaaa #111111;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #111111;
}

*::-webkit-scrollbar-thumb {
    background-color: #aaaaaa;
    border-radius: 10px;
    border: 3px solid #111111;
}
